@tailwind base;
@tailwind components;
@tailwind utilities;

.vignette-layer {
  background-image: radial-gradient(circle at 50% 50%, rgba(255,255,255,0) 0%, rgba(248,250,252,1) 100%);
}

html.dark .vignette-layer {
  background-image: radial-gradient(circle at 50% 50%, rgba(2,6,23,0) 0%, #020617 100%);
}
