---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="CV Redirect | Ross Volkwein"
  description="Redirecting to Ross Volkwein's career timeline and CV highlights."
  canonicalPath="/CV"
  ogImage="/favicon.svg"
  noindex
>
  <script>
    window.location.replace('/#timeline');
  </script>
  <p class="p-6 text-center">
    Redirecting to <a class="underline" href="/#timeline">CV</a>...
  </p>
</Layout>
