---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Portfolio Redirect | Ross Volkwein"
  description="Redirecting to Ross Volkwein's featured project portfolio section."
  canonicalPath="/portfolio"
  ogImage="/favicon.svg"
  noindex
>
  <script>
    window.location.replace('/#projects');
  </script>
  <p class="p-6 text-center">
    Redirecting to <a class="underline" href="/#projects">Portfolio</a>...
  </p>
</Layout>
